<div>
   <!-- Sidebar - Brand -->
  <div >
   <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">moneyFlash</div>
    </a>
  
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <!-- Nav Item - Dashboard -->

    <li class="nav-item">
        <a class="nav-link" *ngIf="isAdmin() || isAdminSyst()" [routerLink]='["/partenaire-list"]'>
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Acceuil</span></a>
          <a class="nav-link" *ngIf="isSupAdminPart() || isAdminPart()" [routerLink]='["/utilisateur-list"]'>
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Acceuil</span></a>
            <a class="nav-link" *ngIf="isCaissier()" [routerLink]='["/depot"]'>
              <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Acceuil</span></a>
      </li>
  
    <!-- Divider -->
    <hr class="sidebar-divider">
  
    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>
  
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Inscription</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Type d'ajout</h6>
          <a class="collapse-item" *ngIf="isAdmin() || isAdminSyst()" [routerLink]='["/partenaire-add"]'>Ajout Partenaire</a>
          <a class="collapse-item" *ngIf="isAdmin() || isAdminSyst() || isSupAdminPart()" [routerLink]='["/utilisateur"]'>Ajout utilisateur</a>
        </div>
      </div>
    </li>
    <hr class="sidebar-divider">
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Mes collaborateurs</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Listes</h6>
          <a class="collapse-item" *ngIf="isAdmin() || isAdminSyst()" [routerLink]='["/partenaire-list"]'>Mes partenaires</a>
          <a class="collapse-item" *ngIf="isAdmin() || isAdminSyst() || isSupAdminPart() || isAdminPart()" [routerLink]='["/utilisateur-list"]'>Mes utilisateurs</a>
        </div>
      </div>
    </li>
  
    <!-- Divider -->
    <hr class="sidebar-divider">
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"  aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Mes finances</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Compte</h6>
          <a class="collapse-item" *ngIf="isAdmin() || isAdminSyst()" [routerLink]='["/"]'>Comptes partenaires</a>
          <a class="collapse-item" *ngIf="isSupAdminPart()" [routerLink]='["/compte"]'>Mes comptes</a>
          <a class="collapse-item" [routerLink]='["/"]'>Liste des transactions</a>
        </div>
      </div>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTrans"  aria-controls="collapseTrans">
        <i class="fas fa-fw fa-folder"></i>
        <span>Transactions</span>
      </a>
      <div id="collapseTrans" class="collapse" aria-labelledby="headingTrans" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Opérations</h6>
          <a class="collapse-item" *ngIf="isCaissier()" [routerLink]='["/depot"]'>Dépot sur compte partenaire</a>
          <a class="collapse-item" *ngIf="isUserPart() || isAdminPart()" [routerLink]='["/transaction"]'>Envoie/retrait</a>
        </div>
      </div>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
      Addons
    </div>

    <hr class="sidebar-divider d-none d-md-block">
  </div>
  
</div>
 