<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Charts</h1>
  <!-- Content Row -->
  <div class="row">

    <div class="col-xl-8 col-lg-7">

      <!-- Area Chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
              <div class="row"> 
                  <div class="table-responsive">
                    <table class="table table-bordered display" id="dataTable">
                      <thead>
                        <tr>
                          <th scope="col">Numero compte</th>
                          <th scope="col">Solde</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let compt of listcompte">
                            <td>{{compt.numero}}</td>
                            <td>{{compt.montant}} Fcfa</td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                <div class="table-responsive">
                    <table class="table table-bordered display" id="dataTable">
                      <thead>
                        <tr >
                          <th scope="col">Utilisateur</th>
                          <th scope="col">Compte associé</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let compt of listcompte" >
                          <tr>
                            <td>{{compt.utilisateurs}}</td>
                            <td>{{compt.numero}}</td>
                          </tr>
                          
                    
                        </tbody>
                    </table>
                </div>
              </div> 
            <canvas id="myAreaChart"></canvas>
          </div>
          <hr>
        </div>
      </div>

      <!-- Bar Chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
        </div>
        <div class="card-body">
          <div class="chart-bar">
            <canvas id="myBarChart"></canvas>
          </div>
          <hr>
        </div>
      </div>

    </div>

    <!-- Donut Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4">
              <form class="formcode" [formGroup]="compteForm">
                  <div class="form-group montant" >
                    <input type="text" class="form-control form-control-user codetrans" formControlName="username" placeholder="Saisissez lz Username">
                  </div>
                  <br>
                  <div class="form-group montant" >
                    <input type="text" class="form-control form-control-user codetrans" formControlName="numero" placeholder="Saisissez le numero de compte">
                  </div>
                 
                  <div class = "code">
                    <button  type="submit" class="btn btn-primary btn-user btn-block" (click)="alloueCmpt()">Allouez</button>
                  </div>
                </form>  
            <canvas id="myPieChart"></canvas>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

</div>