.p-5 {
    padding: 1rem!important;
}
.envoyez
{
    width: 10em;
    display: block;
    margin: auto;
    top: -0.4em;
    position: relative;
}

.montant
{
    width: 13em;
    display: block;
    margin: auto;
    top: -1em;
    position: relative;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.1rem;
    padding-top: 0;
}
.mb-4, .my-4 {
    margin-bottom: 0.7rem!important;
}

.code
{
    width: 10em;
    display: block;
    margin: auto;
    top: -0.4em;
    position: relative;
    top: 1.6em;
}

.codetrans
{
    width: 18em;
    display: block;
    margin: auto;
    top: 2em;
    position: relative;
    left: -2.5em;
}

.formcode
{
    height: 12em;
    margin-bottom: -0.7em;
}
.swal-modal {
    background-color: rgba(63,255,106,0.69);
    border: 3px solid white;
  }
  .mat-tab-group {
    margin-bottom: 48px;
  }

.test {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
