
  <!--<div class="row pt-5" >
    <div class="col-md6" mx=auto>
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="md-0">Connexion</h3>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
            <div class="form-group">
              <label for="">Username</label>
              <input  type="text" name="username" ngModel class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="text"  name="password" ngModel  class="form-control rounded-0" required>
            </div>
            <button type="submit" class="btn btn-success float-right">Connexion</button>
          </form>
        </div>
      </div>
    </div>
  </div>-->



  

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenu sur moneyFlash!</h1>
                  </div>
                  <form class="user"  #f="ngForm" (ngSubmit)="onLogin(f.value)">
                    <div class="form-group">
                      <input type="text" name="username" class="form-control form-control-user" ngModel id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Entrez votre username...">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control form-control-user" ngModel id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Se souvenir de moi!</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Connexion</button>
                    <hr>
                  </form>
                 <!-- <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="register.html">Create an Account!</a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  
