<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
           
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">          
                    <app-navside> </app-navside>
                </ul>
         
        <div id="content-wrapper" class="d-flex flex-column">
               
            <div id="content">
            
                <app-navetop></app-navetop>
                
                <div class="container-fluid">
                    
                    <router-outlet></router-outlet>
                
                </div>
            
            </div>
             <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; moneyFlash 2019</span>
                </div>
                </div>
            </footer>
          <!-- End of Footer -->
        
        </div>
  
    </div>
 <app-modal></app-modal>
   
          
  