<!-- Begin Page Content -->
<script src="/src/assets/js/demo/datatables-demo.js"></script>
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List des partenaires</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable">
            <thead>
              <tr>
                <th scope="col">Ninea</th>
                <th scope="col">Siege</th>
                <th scope="col">Raison Social</th>
                <th scope="col">Email</th>
                <th scope="col">Telephone</th>
                <th scope="col">Date d'enregistrement</th>
                <th scope="col">Détails</th>
                <th scope="col">Statut</th>
              </tr>
            </thead>
            <tbody  *ngFor="let partenaires of partenaire">
                <tr>
                  <td>{{partenaires.ninea}}</td>
                  <td>{{partenaires.siege}}</td>
                  <td>{{partenaires.raisonSociale}}</td>
                  <td>{{partenaires.emailP}}</td>
                  <td>{{partenaires.telephoneP}}</td>
                  <td>{{partenaires.createdAt}}</td>
                  <td ><button class="btn btn-success" routerLink="/partenaire-add/{{partenaires.id}}">Détail</button></td>
                  <td><button  (click)="partBlock(partenaires.id)" class="btn btn-success">{{partenaires.statut}}</button></td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
