<div id="wrapper">

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Transaction infos</h1>

          <div class="row">

            <div class="col-lg-6">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Opération</h6>
                </div>
                <div class="card-body">
                  <form [formGroup]="transactionForm" >
          
                    <div class="row">
                        <div class="col-lg-6">
                          <div class="p-5">
            
                            <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-4">Expéditeur</h1>
                            </div>
                              
                            <div class="form-group">
                              <input type="text" class="form-control form-control-user" formControlName="nom_complet_e" placeholder="Nom Complet">
                            </div>
                            
                            <div class="form-group">
                              <input type="text" class="form-control form-control-user" formControlName="tel_e" placeholder="N* téléphone">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control form-control-user" formControlName="adresse_e" placeholder="Adresse"  >
                            </div>
                            
                            <div class="form-group">
                              <input type="number" class="form-control form-control-user" formControlName="cin_e"  placeholder="N* CIN">
                            </div>
                        
                          </div>
                        </div>  
                        <div class="col-lg-6 ">
                          <div class="p-5">
                           
                              <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Bénéficiaire</h1>
                              </div> 
                              <div class="form-group">
                                <input type="text" class="form-control form-control-user" formControlName="nom_complet_b" placeholder="Nom Complet">
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control form-control-user" formControlName="tel_b" placeholder="N* téléphone">
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control form-control-user" formControlName="adresse_b" placeholder="Adresse">
                              </div>
                              <!-- <div class="form-group">
                                  <input type="number" class="form-control form-control-user" formControlName="cin_b" placeholder="N* CIN">
                              </div> -->
                           
                          </div>
                        </div>
                      </div>
                      <div class="form-group montant" >
                          <input type="number" class="form-control form-control-user" formControlName="montant_transfert" placeholder="Montant Transfert">
                        </div>
                      <div class = "envoyez">
                        <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-user btn-block" >Envoyez</button>
                      </div>
                  </form>  
                </div>
              </div>

              <!-- Brand Buttons -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Brand Buttons</h6>
                </div>
                <div class="card-body">


                </div>
              </div>

            </div>

            <div class="col-lg-6">

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Split Buttons with Icon</h6>
                </div>
                <div class="card-body">
                  <form class="formcode" [formGroup]="findCodeForm" >
                    <div class="form-group montant" >
                      <input type="text" class="form-control form-control-user codetrans" formControlName="code_genere" placeholder="Vérification code transaction">
                    </div>
                    <div class = "code">
                      <button  type="submit" class="btn btn-primary btn-user btn-block" (click)="findCode()" >Vérifiez</button>
                    </div>
                  </form>  

                  <!--  -->
                  <form class="formcode" [formGroup]="retraitForm" *ngIf="affiche==true">
                    <div class="form-group montant" >
                      <input type="text" class="form-control form-control-user codetrans" formControlName="code_genere" placeholder="confirmation code transaction">
                    </div>
                    <br>
                    <div class="form-group montant" >
                      <input type="text" class="form-control form-control-user codetrans" formControlName="cin_b" placeholder="CIN Bénéficiaire">
                    </div>
                   
                    <div class = "code">
                      <button  type="submit" class="btn btn-primary btn-user btn-block" (click)="retrait()">Retirez</button>
                    </div>
                  </form>  
                      
                </div>
              </div>

            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
