
<div class="card shadow mb-4">
  <form class="user">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-6">
          <div class="p-5">

            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Entreprise</h1>
            </div>
              
            <div class="form-group">
              <input type="text" class="form-control form-control-user" id="raisonSociale" placeholder="Raison Sociale">
            </div>
            
            <div class="form-group">
              <input type="number" class="form-control form-control-user" id="ninea" placeholder="NINEA">
            </div>
            
            <div class="form-group">
              <input type="text" class="form-control form-control-user" id="siege" placeholder="Siège">
            </div>
            
            <div class="form-group">
              <input type="tel" class="form-control form-control-user" id="tel" placeholder="Téléphone">
            </div>
            
            <div class="form-group">
              <input type="email" class="form-control form-control-user" id="email" placeholder="Addresse Email">
            </div>
        
          </div>
        </div>  
        <div class="col-lg-6 ">

          <div class="p-5">
            
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Super Admin Entreprise</h1>
            </div>
            
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="nom" placeholder="Nom">
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="prenom" placeholder="Prènom">
              </div>
            </div>
            
            <div class="form-group">
              <input type="email" class="form-control form-control-user" id="email" placeholder="Adresse Email">
            </div>

            <div class="form-group">
                <input type="tel" class="form-control form-control-user" id="tel" placeholder="Téléphone">
            </div>


            <div class="form-group">
                <input type="text" class="form-control form-control-user" id="username" placeholder="Nom d'utilisateur">
            </div>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" class="form-control form-control-user" id="password" placeholder="Mot de passe">
              </div>
              <div class="col-sm-6">
                <input type="password" class="form-control form-control-user" id="repeatpwd" placeholder="Confirmez mot de passe">
              </div>
            </div>
            <input type="file" class="form-control form-control-user" id="email" placeholder="Email">
          </div>
        </div>
      </div>
      <div class = "partenaire">
      <button type="submit" class="btn btn-primary btn-user btn-block" >Enregistrez</button>
      </div>
    </div>
  </form>
</div>